*{box-sizing:border-box; margin:0; padding:0; font-family:arial;}
 
html {
    height:100%;
    width:100%;
    overflow-x: hidden;
}

body{
    margin: 0; 
    height:100%;
    background-color: #CFD8DC;
    color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
    position: absolute;
}

section{
    height:100vh; 
    width: 100%; 
    float:left;
    overflow: auto;
    position: relative;
}
 
#backbild{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 8vh;
    width: 8vh;
}

#hauptmenu{
    background:rgb(175, 94, 13);
}
#pageCharDownload{
    background:rgb(194, 184, 54);
}
#skilltreepage{
    background:rgb(98, 150, 20);
}
#pageErstellen{
    background:rgb(54, 172, 121);
}
#pageAnsehen{
    background:rgb(81, 171, 240);
}
 
/*
header{
    background-color: #00897B;
    color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 22px;
    padding: 30px 40px;
    font-weight: bold;
}
*/

.centertoframe-div
{
    margin: 0 auto;
    width: 1000px;
}

arrowbutton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #1e46be;
    color: white;
    border-radius: 50%;
    font-weight:800;
    font-size:1.3em;  
  }
  
arrowbutton:hover {
    background-color: black;
    color: white;
    cursor: grab;
}

#charnamefeld{
    margin: 0;
    display: inline-block;
    background-color: #1e46be;
    color: white;
}

h1{
    color:#fff; 
    text-align:center;
    margin-top:25px;
    margin-bottom:10px;
}
    
abutton {
    align-content:center;
    border-color:#c3daed;
    border-radius:8px;
    border-style:solid;
    border-width:2px;
    cursor:pointer;
    display:grid;
    
    font-weight:800;
    justify-content:center;
    user-select:none;
    background-color:#1e46be; 

    /*height:64px;
    width:128px; 
    font-size:1.5em;*/
    height: 7vh;
    width:17vh;
    font-size:3vh;

}

abutton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
   

p {
    font-size:1.1em;
    /* justify-self:center;
    text-align:justify;*/
}
    
span {
    font-weight:800;
    font-size:1.1em;  
}

.cloudpic{
    height: 6vh;
    width: 6vh;
    vertical-align:middle;
}

.cloudpic:hover{
    cursor: pointer;
}

.card {
    background-color: #1e46be;
    color: #ffffff;
    padding: 30px;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.card h2 {
    margin-top: 0;
}