*{box-sizing:border-box; margin:0; padding:0; font-family:Georgia;}
 
html {
    height:100%;
    width:100%;
    overflow-x: hidden;
}


body{
    margin: 0; 
   height:100%;
    color: #333333;
    text-shadow: 1px 1px 4px whitesmoke;
    font-weight: bold;
    /*
    background-color: #CFD8DC;
    color: #eee;
    font-weight: bolder;
    -webkit-text-stroke: 0.8px black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
    overflow: hidden;
}

section{
    height:100vh; 
    width: 100%; 
    float:left;
    overflow: auto;
}
 
#backbild{
    position: fixed;
    margin-left: -2.75em;
    top: 0;
    left: 50%;
    height: 5.5em;
    width: 5.5em;
}

@media all and (max-width: 500px)  {
    #hauptmenu{
        background: url(images/dnd-background2.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
}

@media all and (min-width: 501px) {
    #hauptmenu{
        background: url(images/dnd-background1.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
}

h1{
    color:#333333; 
    text-align:center;
    margin-top:25px;
    margin-bottom:10px;
}
    

p {
    font-size:1.1em;
    /* justify-self:center;
    text-align:justify;*/
}
    
span {
    font-weight:800;
    font-size:1.1em;  
}

@media all and (max-width: 800px)  {

    #backpfeil{
        position: fixed;
        top: 0.4em;
        left: 0.5em;
        font-size:1.1em;
        color: #333333;
        background-color: whitesmoke;
    }

    #leiste{
        display: none;
    }

    .columnp {
        float: left;
      }

      #bigbackpfeil{
        display: none;
    }
}
@media all and (min-width: 801px) {

    #backpfeil{
        display: none;
    }

    #bigbackpfeil{
        position: fixed;
        top: 0.4em;
        left: 0.5em;
        font-size:1.3em;
        color: #333333;
    }

    #leiste{
        position: fixed;
        top: 4em;
        left: 75%;
        font-size:1.1em;
        min-width: 15%;
      
    }

    .leistenelement{
        padding: 20px;
        color: #333333;
        text-decoration: underline;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .leistenelement:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    #probeeinruecken{
        margin-left: 30%;
    }

    .columnp {
        float: left;
        max-width: 20%;
      }
}

/* Das ist für die Domänen*/
@media all and (max-width: 1800px)  {
    #leiste2{display: none;}
    
    #bigbackpfeil2{
        position: fixed;
        top: 0.4em;
        left: 0.5em;
        font-size:1.2em;
        color: #333333;
    }
}
@media all and (min-width: 1801px) {
    #leiste2{
        position: fixed;
        top: 4em;
        left: 75%;
        font-size:1.1em;
        min-width: 15%;
    }
    #bigbackpfeil2{  display: none;}
}
/*
################Buttons################################################################################
################Buttons################################################################################
*/


arrowbutton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    /*background-color: #1e46be;*/
    color: #333333;
    border-radius: 50%;
    font-weight:800;
    font-size:2em;  
    border: 2px solid transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
arrowbutton:hover {
    background-color: #333333;
    color: whitesmoke;
    cursor: grab;
   /* border-radius:8px;*/
    border-width:2px;
    border-style:solid;
    border-color:whitesmoke;
    text-shadow: 0px 0px 0px whitesmoke;
}

@media all and (max-width: 400px)  {
    abutton {
        align-content:center;
        cursor:pointer;
        display:grid;
    
        width: auto;
        height: 1.6em;
        margin: 0;
        padding: 0.3em 0.3em;
        border: 2px solid transparent;
        color: #333333;
        font-size:1.4em; 
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }

    .untersbb{
        margin-top: 0.3em;
    }

    .gegnstand{
        margin-top: 0.8em;
    }

    #charnamefeld{
        width: auto;
        height: 1.6em;
        margin: 0;
        padding: 0.3em 0.3em;
        display: inline-block;
        border: 2px solid transparent;
        color: #333333;
        font-size:1.1em; 
    
    }
}

@media all and (min-width: 401px) {
    abutton {
        align-content:center;
        cursor:pointer;
        display:grid;
    
        width: auto;
        height: 2.2em;
        margin: 0;
        padding: 0.5em 0.7em;
        border: 2px solid transparent;
        color: #333333;
        font-size:1.8em; 
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
    }

    .untersbb{
        margin-top: 0.2em;
    }

    .gegnstand{
        margin-top: 1.8em;
    }

    #charnamefeld{
        width: auto;
        height: 2.2em;
        margin: 0;
        padding: 0.5em 0.5em;
        display: inline-block;
        border: 2px solid transparent;
        color: #333333;
        font-size:1.5em; 
    
    }
}


abutton:hover {
    background-color: #333333;
    color: whitesmoke;
    cursor: pointer;
    border-radius:8px;
    border-width:2px;
    border-style:solid;
    border-color:whitesmoke;
    text-shadow: 0px 0px 0px whitesmoke;
}
/*
################Seiten#################################################################################
################Seiten#################################################################################
*/


.cloudpic{
    height: 4em;
    width: 4em;
    vertical-align:middle;
}

.cloudpic:hover{
    cursor: pointer;
}

#charnamefeld:hover{
    margin: 0;
    display: inline-block;
    background-color: #333333;
    color: whitesmoke;
    border-radius:8px;
    border-width:2px;
    border-style:solid;
    border-color:whitesmoke;
    cursor: pointer;
    text-shadow: 0px 0px 0px whitesmoke;
}

.column {
    float: left;
    width: 50%;
  }
  
.centertoframe-div
{
    margin: 0 auto;
    width: 1000px;
}

.card {
    max-width: 45%;
    color: #333333;
    text-shadow: 2px 2px 6px whitesmoke;

    padding: 30px;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.card h2 {
    margin-top: 0;
}




 /*
################Kampf#################################################################################
################Kampf#################################################################################
*/
#playerCanvas{
    position: center;
    margin-top: 4em;
    width: 85%;
    height: 80vh;
    border:1px solid #000000;
}


/* Kampf*/
 @media all and (max-width: 1198px)  {
    #spielercontainer{
        display: none;
    }

    #theCanvas{
        display: none;
    }
    
    .enclose {
        display: none;
    }

    #ScrennInfo {
        margin-top: 5em;
    }
}
@media all and (min-width: 1199px) {
    #spielercontainer{
        position: fixed;
        top: 7em;
        left: 0.5vw;
        width: 20%;
    }
    
    .card2 {
        color: whitesmoke;
        background-color: #1e46be;
        text-shadow: 0px 0px 0px whitesmoke;
        padding: 30px;
        margin: 20px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    #theCanvas{
        position: center;
        margin-top: 2em;
        margin-left: 19%;
         /*width: 60vw;
        height: 70vh;*/
        width: 75%;
        height: 80vh;
        border:1px solid #000000;
    }
    
    .enclose {
        position:fixed center;
        top: 2%;
        width:20%;
        text-shadow: 1px 1px 4px whitesmoke;
        color: #333333;
        /*
        bottom:0px;
        */
    }

    #ScrennInfo {
        display: none;
    }
}

