treename {
  margin: 0;
  display: inline-block;
  background-color: #1e46be;
  color: white;
  }

arrowbutton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #1e46be;
    color: white;
    border-radius: 50%;
    font-weight:800;
    font-size:1.3em;  
  }
  
arrowbutton:hover {
    background-color: #ddd;
    color: black;
    cursor: grab;
}

body{
  margin: 0; 
  /*background-color: #CFD8DC;*/
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

input{
  visibility: hidden;
}
  
.page {
  /* margin: 0 auto;*/
  position: relative;
  /* width: 1024px; */
}

.talent-tree {
  width: 100%;
  height: 510px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.skill {
  width: 80px;
  height: 80px;
  position: absolute;
}

.skill .icon-container {
  position: absolute;
  background: black;
  width: 60px;
  height: 60px;
  padding: 5px;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 11px #000000;
  -moz-box-shadow: 0 6px 11px #000000;
  box-shadow: 0 6px 11px #000000;
  overflow: hidden;
}

.skill .icon {
  width: 100%;
  height: 100%;
  background: url(../images/icon-sprite.png) no-repeat top left;
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-opacity: 0.35;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  filter: alpha(opacity=35);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.skill .frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/sprite.png) no-repeat top left;
}
.skill .frame:hover .tool-tip {
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s 0.3s ease-out;
  -moz-transition: all 0.3s 0.3s ease-out;
  -o-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}

.skill .hit-area {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.skill.can-add-points .frame {
  background-position: -80px top;
}
.skill.can-add-points .skill-dependency {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.skill.has-points .icon {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.skill.has-max-points .frame {
  background-position: -160px top;
}
.skill.has-max-points .skill-dependency {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.skill .skill-points {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  color: white;
  font-size: 11px;
  line-height: 1em;
  width: 19px;
  text-align: center;
}

.skill .tool-tip {
  visibility: hidden;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #000;
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 80px;
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: 0 6px 11px #000000;
  -moz-box-shadow: 0 6px 11px #000000;
  box-shadow: 0 6px 11px #000000;
  border: 1px solid #333;
}
.skill .tool-tip .current-rank-description {
  color: #FC3;
}
.skill .tool-tip .next-rank-description {
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-opacity: 0.35;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  filter: alpha(opacity=35);
  color: #FC3;
}
.skill .tool-tip .talent-summary {
  color: #FC3;
}
.skill .tool-tip .help-message {
  color: #c00;
}
.skill .skill-dependency {
  position: absolute;
  display: block;
  bottom: 73px;
  left: 50%;
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-opacity: 0.35;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  filter: alpha(opacity=35);
  pointer-events: none;
  background: url(../images/connection-sprite.png) no-repeat top left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/**************************************************
	DEPENDENCY ARROWS
**************************************************/

/**************************************************
	ICON POSITIONS & SPRITES
**************************************************/

.skill[data-skill-id="1"] {  visibility: hidden;}
.skill[data-skill-id="2"] {  visibility: hidden;}
.skill[data-skill-id="3"] {  visibility: hidden;}
.skill[data-skill-id="4"] {  visibility: hidden;}
.skill[data-skill-id="5"] {  visibility: hidden;}
.skill[data-skill-id="6"] {  visibility: hidden;}
.skill[data-skill-id="7"] {  visibility: hidden;}
.skill[data-skill-id="8"] {  visibility: hidden;}
.skill[data-skill-id="9"] {  visibility: hidden;}
.skill[data-skill-id="10"] {  visibility: hidden;}
.skill[data-skill-id="11"] {  visibility: hidden;}
.skill[data-skill-id="12"] {  visibility: hidden;}
.skill[data-skill-id="13"] {  visibility: hidden;}
.skill[data-skill-id="14"] {  visibility: hidden;}
.skill[data-skill-id="15"] {  visibility: hidden;}
.skill[data-skill-id="16"] {  visibility: hidden;}
.skill[data-skill-id="17"] {  visibility: hidden;}
.skill[data-skill-id="18"] {  visibility: hidden;}
.skill[data-skill-id="19"] {  visibility: hidden;}
.skill[data-skill-id="20"] {  visibility: hidden;}
.skill[data-skill-id="21"] {  visibility: hidden;}
.skill[data-skill-id="22"] {  visibility: hidden;}
.skill[data-skill-id="23"] {  visibility: hidden;}
.skill[data-skill-id="24"] {  visibility: hidden;}
.skill[data-skill-id="25"] {  visibility: hidden;}
.skill[data-skill-id="26"] {  visibility: hidden;}
.skill[data-skill-id="27"] {  visibility: hidden;}
