/**************************************************
	DEPENDENCY ARROWS
**************************************************/
[data-skill-id="2"] .skill-dependency {
  margin-left: -15px;
  width: 350px;
  height: 60px;
  background-position: -285px -10px;
}
[data-skill-id="3"] .skill-dependency,
[data-skill-id="5"] .skill-dependency,
[data-skill-id="20"] .skill-dependency,
[data-skill-id="23"] .skill-dependency {
  margin-left: 15px;
  width: 60px;
  height: 40px;
  background-position: -740px -10px;
  margin-bottom: -50px;
}
[data-skill-id="4"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 190px;
  background-position: 0 -10px;
}
[data-skill-id="7"] .skill-dependency,
[data-skill-id="9"] .skill-dependency,
[data-skill-id="10"] .skill-dependency,
[data-skill-id="12"] .skill-dependency,
[data-skill-id="14"] .skill-dependency,
[data-skill-id="25"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 70px;
  background-position: 0 -210px;
}
[data-skill-id="15"] .skill-dependency,
[data-skill-id="22"] .skill-dependency {
  margin-left: -60px;
  width: 120px;
  height: 80px;
  background-position: -160px 10px;
}
[data-skill-id="16"] .skill-dependency {
  margin-left: -85px;
  width: 60px;
  height: 40px;
  background-position: -640px -10px;
  margin-bottom: -50px;
}
[data-skill-id="17"] .skill-dependency {
  margin-left: -85px;
  width: 150px;
  height: 40px;
  background-position: -640px -10px;
  margin-bottom: -50px;
}
[data-skill-id="19"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px 10px;
}
[data-skill-id="26"] .skill-dependency {
  margin-left: -310px;
  width: 720px;
  height: 200px;
  background-position: -60px -90px;
}

/**************************************************
	TOOLTIPS
**************************************************/

[data-skill-id="10"] .tool-tip,
[data-skill-id="11"] .tool-tip,
[data-skill-id="12"] .tool-tip,
[data-skill-id="13"] .tool-tip,
[data-skill-id="14"] .tool-tip,
[data-skill-id="15"] .tool-tip,
[data-skill-id="16"] .tool-tip,
[data-skill-id="10"] .tool-tip,
[data-skill-id="17"] .tool-tip,
[data-skill-id="24"] .tool-tip,
[data-skill-id="25"] .tool-tip {
  left: -320px;
}
/**************************************************
	ICON POSITIONS & SPRITES
**************************************************/

.skill[data-skill-id="1"] {
  visibility: visible;
  left: 460px;
  top: 10px;
}

.skill[data-skill-id="1"] .icon {
  background-position: -240px 0px;
}
.skill[data-skill-id="2"] {
  visibility: visible;
  left: 320px;
  top: 135px;
}
.skill[data-skill-id="2"] .icon {
  background-position: -240px -60px;
}
.skill[data-skill-id="3"] {
  visibility: visible;
  left: 220px;
  top: 135px;
}
.skill[data-skill-id="3"] .icon {
  background-position: -420px 0px;
}
.skill[data-skill-id="4"] {
  visibility: visible;
  left: 320px;
  top: 385px;
}
.skill[data-skill-id="4"] .icon {
  background-position: -120px -120px;
}
.skill[data-skill-id="5"] {
  visibility: visible;
  left: 220px;
  top: 385px;
}
.skill[data-skill-id="5"] .icon {
  background-position: 0px -120px;
}
.skill[data-skill-id="6"] {
  visibility: visible;
  left: 400px;
  top: 135px;
}
.skill[data-skill-id="6"] .icon {
  background-position: -360px 0px;
}
.skill[data-skill-id="7"] {
  visibility: visible;
  left: 400px;
  top: 260px;
}
.skill[data-skill-id="7"] .icon {
  background-position: 0px 0px;
}
.skill[data-skill-id="8"] {
  visibility: visible;
  left: 480px;
  top: 135px;
}
.skill[data-skill-id="8"] .icon {
  background-position: -240px -120px;
}
.skill[data-skill-id="9"] {
  visibility: visible;
  left: 480px;
  top: 260px;
}
.skill[data-skill-id="9"] .icon {
  background-position: -300px 0px;
}
.skill[data-skill-id="10"] {
  visibility: visible;
  left: 480px;
  top: 385px;
}
.skill[data-skill-id="10"] .icon {
  background-position: -120px -180px;
}
.skill[data-skill-id="11"] {
  visibility: visible;
  left: 640px;
  top: 135px;
}
.skill[data-skill-id="11"] .icon {
  background-position: -60px -240px;
}
.skill[data-skill-id="12"] {
  visibility: visible;
  left: 640px;
  top: 260px;
}
.skill[data-skill-id="12"] .icon {
  background-position: -60px -300px;
}
.skill[data-skill-id="13"] {
  visibility: visible;
  left: 720px;
  top: 135px;
}
.skill[data-skill-id="13"] .icon {
  background-position: -300px -120px;
}
.skill[data-skill-id="14"] {
  visibility: visible;
  left: 720px;
  top: 260px;
}
.skill[data-skill-id="14"] .icon {
  background-position: -300px -180px;
}
.skill[data-skill-id="15"] {
  visibility: visible;
  left: 680px;
  top: 385px;
}
.skill[data-skill-id="15"] .icon {
  background-position: -120px -60px;
}
.skill[data-skill-id="16"] {
  visibility: visible;
  left: 780px;
  top: 385px;
}
.skill[data-skill-id="16"] .icon {
  background-position: -180px -120px;
}
.skill[data-skill-id="17"] {
  visibility: visible;
  left: 580px;
  top: 385px;
}
.skill[data-skill-id="17"] .icon {
  background-position: -300px -60px;
}
.skill[data-skill-id="18"] {
  visibility: visible;
  left: 140px;
  top: 135px;
}
.skill[data-skill-id="18"] .icon {
  background-position: -360px -300px;
}
.skill[data-skill-id="19"] {
  visibility: visible;
  left: 100px;
  top: 260px;
}
.skill[data-skill-id="19"] .icon {
  background-position: -240px -180px;
}
.skill[data-skill-id="20"] {
  visibility: visible;
  left: 0px;
  top: 260px;
}
.skill[data-skill-id="20"] .icon {
  background-position: -360px -60px;
}
.skill[data-skill-id="21"] {
  visibility: visible;
  left: 180px;
  top: 260px;
}
.skill[data-skill-id="21"] .icon {
  background-position: -360px -120px;
}
.skill[data-skill-id="22"] {
  visibility: visible;
  left: 140px;
  top: 385px;
}
.skill[data-skill-id="22"] .icon {
  background-position: -120px -240px;
}
.skill[data-skill-id="23"] {
  visibility: visible;
  left: 40px;
  top: 385px;
}
.skill[data-skill-id="23"] .icon {
  background-position: -480px 0px;
}
.skill[data-skill-id="24"] {
  visibility: visible;
  left: 840px;
  top: 135px;
}
.skill[data-skill-id="24"] .icon {
  background-position: -420px -180px;
}
.skill[data-skill-id="25"] {
  visibility: visible;
  left: 840px;
  top: 260px;
}
.skill[data-skill-id="25"] .icon {
  background-position: -360px -180px;
}
.skill[data-skill-id="26"] {
  visibility: visible;
  left: 440px;
  top: 520px;
}
.skill[data-skill-id="26"] .icon {
  background-position: -120px 0px;
}